{% extends 'layout.html' %}

{% block content %}
<h2>Register</h2>
<hr>


<form method="POST" action="{{ url_for('register') }}">
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="helpId"
                    placeholder="First Name">
            </div>
            <div class="col-6">
                <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="helpId"
                    placeholder="Last Name">
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="email" id="email" aria-describedby="helpId"
            placeholder="Email Address">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId"
            placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="confirm_password" id="confirm_password"
            aria-describedby="helpId" placeholder="Confirm Password">
    </div>
    <input type="submit" class="btn btn-info" value="Sign Up">
</form>

{% endblock content %}