{% extends 'layout.html' %}
{% block content %}

<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="pokemon" id="" aria-describedby="helpId"
                            placeholder="What Pokemon do you want to add to your collection?">
                    </div>
                </div>
                <div class="col-3">
                    <button type="submit" name="" id="" class="btn btn-primary btn-block">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            {% for pokemon in pokemon%}
            <li class="list-group-item mb-4">
                {{ pokemon['name'] }}
                <div>
                    <small>
                        <span class="float-right">
                            {{ pokemon['date_created'] }}
                        </span>
                    </small>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}