{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card text-left">
        <img class="card-img-top" src="https://via.placeholder.com/200x200" alt="Pokemon Photo">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-left">
        <img class="card-img-top" src="https://via.placeholder.com/200x200" alt="Pokemon Photo">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-left">
        <img class="card-img-top" src="https://via.placeholder.com/200x200" alt="Pokemon Photo">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
{% endblock content %}